body {
    background-color: #05121F;
    color: #FFFFFF;
}

.main {
    color: #F15457;
}

.sub {
    color: #721176;
}

body {
    background-color: #05121F !important;
}

p {
    text-align: justify;
    text-justify: inter-ideograph;
}

nav,
.bg-custom {
    background: #F15457 !important;
    background-color: #F15457;
}

.a-main {
    background-color: #F15457;
}

.bg-main {
    background-color: #F15457 !important;
}

hr {
    border: #721176 1px solid;
}

.btn-main {
    background-color: #F15457;
    color: #FFFFFF;
}

.badge-main {
    background-color: #F15457;
    padding: 0.7rem;
    margin-bottom: inherit;
}

.jumbotron-custom {
    padding: 5rem 1rem 0rem 1rem;
    margin: 1rem;
    background-color: #05121F;
}

.card-custom {
    background: transparent;
    border: rgba(255, 255, 255, 0.5) 0.5px solid;
}

.background-custom {
    background-color: #05121F;
}

.close-custom {
    color: #FFFFFF !important;
}

.figure-crew img {
    border-radius: 50%;
    max-width: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: 1rem;
}

.figure-crew figcaption {
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: 1rem;
}

.hidden {
    display: none;
}

/*custom animate*/
.animated.delay-02s {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.animated.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animated.delay-07s {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
